{
  "extends": "./.config/.eslintrc",
  "rules": {
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true
      }
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}