.field-label {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 4px;
  color: rgb(204, 204, 220);
  max-width: 480px;
}

.field-description {
  color: rgba(204, 204, 220, 0.65);
  font-size: 12px;
  font-weight: 400;
  margin-top: 2px;
  display: block;
}

.query-editor-collection-streaming-field {
  margin-bottom: 0px !important;
}

.query-editor-collection-streaming-container {
  margin-bottom: 6px;
}
